body {
  font-family: Lato, sans-serif;
}

.conteudo {
  background-color: ghostwhite !important;
}

.nav-item a:hover {
  font-weight: bold;
}

.nav-active {
  font-weight: bold;
}

#mainNavbar {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.banner-home {
  background-image: url(./Img/logo.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  background-clip: padding-box;
}

.banner-text {
  font-family: 'Sour Gummy', sans-serif;
  background-color: black;
  color: white;
}

.tarja-preta {
  background-color: black;
  color: white;
  padding: 0.25em;
  display:inline-block;
}

.bg-pb-one {
  background-color: rgb(84, 84, 84) !important;
}

.bg-pb-two {
  background-color: rgb(156, 156, 156) !important;
}

.bg-pb-three {
  background-color: rgb(202, 202, 202) !important;
  color: rgb(84, 84, 84) !important;
}

.invertida {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.mini-text {
  font-size: 0.8em;
}

